{{set . "Football Club Template" "Home"}}
{{template "header.html" .}}

<div class="index-top">
	<div class="black-layer">
		<div class="index-notice shadow1">
			<div class="index-notice-header">
				<span class="active">Featured News</span>
				<span>What's on at Villa Park</span>
				<span>AVTV</span>
				<span>Matchday Centre</span>
			</div>
		</div>
	</div>
</div>

<div class="index-notice-area"></div>

<div class="container">
	<h4 class="last-matches">Latest 5 Matches</h4>
	<div class="row">
		<div class="match-item">
			<div class="match-item-header">
				<div class="match-team-logo">
					<img src="/public/img/team/logo-t-arsenal.png"/>
				</div>
				<div class="match-team-score">3 - 2</div>
				<div class="match-team-logo">
					<img src="/public/img/team/logo-t-villa.png"/>
				</div>
			</div>
			<div class="match-item-body">
				<p>Sun 22 Sep, 4:30 PM</p>
				<p>English Premier League</p>
			</div>
			<div class="match-item-footer">
				<a class="match-item-report" href="#">Match Report</a>
			</div>
		</div>
		<div class="match-item">
			<div class="match-item-header">
				<div class="match-team-logo">
					<img src="/public/img/team/logo-t-arsenal.png"/>
				</div>
				<div class="match-team-score">3 - 2</div>
				<div class="match-team-logo">
					<img src="/public/img/team/logo-t-villa.png"/>
				</div>
			</div>
			<div class="match-item-body">
				<p>Sun 22 Sep, 4:30 PM</p>
				<p>English Premier League</p>
			</div>
			<div class="match-item-footer">
				<a class="match-item-report" href="#">Match Report</a>
			</div>
		</div>
		<div class="match-item">
			<div class="match-item-header">
				<div class="match-team-logo">
					<img src="/public/img/team/logo-t-arsenal.png"/>
				</div>
				<div class="match-team-score">3 - 2</div>
				<div class="match-team-logo">
					<img src="/public/img/team/logo-t-villa.png"/>
				</div>
			</div>
			<div class="match-item-body">
				<p>Sun 22 Sep, 4:30 PM</p>
				<p>English Premier League</p>
			</div>
			<div class="match-item-footer">
				<a class="match-item-report" href="#">Match Report</a>
			</div>
		</div>
		<div class="match-item">
			<div class="match-item-header">
				<div class="match-team-logo">
					<img src="/public/img/team/logo-t-arsenal.png"/>
				</div>
				<div class="match-team-score">3 - 2</div>
				<div class="match-team-logo">
					<img src="/public/img/team/logo-t-villa.png"/>
				</div>
			</div>
			<div class="match-item-body">
				<p>Sun 22 Sep, 4:30 PM</p>
				<p>English Premier League</p>
			</div>
			<div class="match-item-footer">
				<a class="match-item-report" href="#">Match Report</a>
			</div>
		</div>
		<div class="match-item">
			<div class="match-item-header">
				<div class="match-team-logo">
					<img src="/public/img/team/logo-t-arsenal.png"/>
				</div>
				<div class="match-team-score">3 - 2</div>
				<div class="match-team-logo">
					<img src="/public/img/team/logo-t-villa.png"/>
				</div>
			</div>
			<div class="match-item-body">
				<p>Sun 22 Sep, 4:30 PM</p>
				<p>English Premier League</p>
			</div>
			<div class="match-item-footer">
				<a class="match-item-report" href="#">Match Report</a>
			</div>
		</div>
	</div>
</div>

<hr class="hr1"/>

<div class="container">
	<div class="index-contents1">
		<div class="index-contents1-1">
			<h4 class="content-title">Online</h4>
			<h3 class="content-title">Today</h3>
		</div>
		<div class="index-contents1-2">
			<h4 class="content-title">Latest</h4>
			<h3 class="content-title">News</h3>
		</div>
	</div>
</div>

<hr class="hr1"/>

{{template "footer.html" .}}
